[user]
	email = ctatro@janeiredale.com
	name = Christopher Tatro
[push]
	default = simple
[alias]
        nice-log = log  --pretty=format:'%Cred%h%Creset - %Cgreen (%ar) %C(bold blue) <%an> %C(yellow)%d%Creset %s%Creset %gs' --abbrev-commit --date=relative
        history  = log --graph --max-count=20 --pretty=\"[%ar] %h %s %an\"
        latest = ! git tag -l | sort -V | tail
        tma = ! git latest | tail -n1
        tmi = tag
        tbf = tag
        unstage  = reset HEAD
        restore = reset --hard HEAD

[core]
	editor = vim
